.body{
    height:661px;
    margin-top: -22px;
    background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ2s-W54DYlW2kBgBsU-ifO8hKIOlC3pgKw3g&usqp=CAU);
    background-size: cover;
}
